<!maintenance page>
<% content_for :header_links do %>
  <%= link_to image_tag("home-ns.jpg", :border => 0, :title => "home"), home_path %>
  <%= link_to image_tag("configuration.jpg", :border => 0, :title => "maintenance"), maintenance_path %>
<% end %>

<% content_for :content_links do %>
  <div class="content-link" onclick="location.href='<%=movie_path%>'"><%= link_to 'Movies', movie_path %></div>
  <div class="content-link"onclick="location.href='<%=television_path%>'"><%= link_to 'Shows', television_path %></div>
  <div class="content-link"onclick="location.href='<%=music_path%>'"><%= link_to 'Music', music_path %></div><!this is just a placeholder till I make the music stuff>
<% end %>

<% content_for :maintenance_window do %>
  <div class="content-maintenance-box movie">
  </div>
  <div class="content-maintenance-box show">
  </div>
  <div class="content-maintenance-box song">
  </div>

<% end %>
