<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>MediaSite</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery", "application" %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<% flash[:notice] = ''%>

<%= yield %>
<div class="header">
  <%= yield :header_links %>
</div><!this is the header row>
  <div class="content-row">
    <div class="col-wrapper">
      <!-- <div class="left-col"></div><!this is the left column> -->
      <div class="middle-col"><!the middle column with all the "stuff">
        <div class="content-links"><!the first row with links to the content pages>
          <%= yield :content_links %>
        </div>
        <div class="display-window"><!the second row containing the display window>
          <%= yield  :display_window%>
        </div>
        <%= yield :content_column %>
      </div>
      <!--<div class="right-col"></div><!this is the right column> -->
    </div>
  </div>
<div class="footer"></div><!this is the footer>
</body>
</html>
<!main content page>
